<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" thread-count="2" parallel="tests">

    <test name="Regression Test in chrome">
        <classes>
            <class name="tests.Books_Test">
                <methods>
                    <include name="CreateToken" />
                    <include name="createNote" />
                    <include name="getNoteCreated"/>
                    <include name="updateExistingNote"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>